.container{
  display: flex;
  .stepper-container{
    width: 50%;
  }
  #text-container{
    height: 70vh;
    overflow: auto;
    //scroll-behavior: smooth;
    div{
      border: 1px solid;
      padding: 10px;
      margin: 5px;
    }
  }
}
